.forgotPassContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-items: center;
}


.dialogContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: justify;
}

.dialogContent p {
    margin: 0;
}

.dialogContent .inputotp {
    align-self: center;
}
