.forgotPass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.p-card-content {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-items: center;
}

.p-card .p-inputtext,
.p-card {
    margin-bottom: 1rem;
}