.header {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #dfdfdf;
}

.pMenubar{
    background-color: #dfdfdf;
}

.userInfo{
    display: flex;
    flex-direction: column;
}